{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Campus Market{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 6px;
        }
    </style>
</head>

<body class="bg-gray-100">

<!-- Navbar -->
<nav class="bg-white shadow p-4 flex justify-between">
    <h1 class="text-xl font-bold">Campus Market</h1>

    <div>
        <a href="/" class="mr-4">Home</a>
        <a href="/login/" class="mr-4">Login</a>
        <a href="/register/">Register</a>
    </div>
</nav>

<!-- Content -->
<div class="container mx-auto p-6">
    {% block content %}{% endblock %}
</div>

</body>
</html>