{% extends "base.html" %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Products</h2>

<div class="grid grid-cols-3 gap-6">
    {% for product in products %}
    <div class="bg-white p-4 shadow rounded">

        {% if product.images.first %}
            <img src="{{ product.images.first.image.url }}" class="w-full h-40 object-cover">
        {% endif %}

        <h3 class="font-bold mt-2">{{ product.name }}</h3>
        <p class="text-gray-600">₦{{ product.price }}</p>

        <a href="/products/{{ product.id }}/" class="block mt-3 bg-blue-500 text-white text-center py-2 rounded">
            View
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}